exclude:
    (?x)^(
        reports/coverage/.*
    )

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: check-docstring-first
    - id: check-merge-conflict
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-ast
    - id: check-toml
    - id: debug-statements
    - id: detect-private-key

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.11.2
  hooks:
    - id: mypy
      args: [--show-error-codes]
      additional_dependencies: ['types-requests']

- repo: https://github.com/python-poetry/poetry
  rev: '1.8.0'
  hooks:
  -   id: poetry-check
  -   id: poetry-lock
  -   id: poetry-install

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.7
  hooks:
  -   id: ruff
      args: [--fix]
  -   id: ruff-format
