services:
  backend:
    image: happymeter-backend:latest
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: backend-container
    ports:
      - 8080:8080
    networks:
      - deploy_network

  frontend:
    image: happymeter-frontend:latest
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: frontend-container
    ports:
      - 8501:8501
    environment:
      BACKEND_HOST: backend:8080
    depends_on:
      - backend
    networks:
      - deploy_network

networks:
  deploy_network:
    driver: bridge
