<!DOCTYPE html>
<html lang="en" dir="auto">
  <head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <title>happymeter</title>
  </head>

  <style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
  </style>

  <body style="background-color:rgb(199, 144, 43);">

    <h1><font size="7" color="purple">Find out how happy you are with your living situation &#128522;</font></h1>

    <h1><font size="5" color="purple">How satisfied are you with the availability of information about the city services?</font></h1>

    <div class="stars">
      <form action="">
        <input class="star star-5" id="q1s5" type="radio" name="star"/>
        <label class="star star-5" for="q1s5"></label>
        <input class="star star-4" id="q1s4" type="radio" name="star"/>
        <label class="star star-4" for="q1s4"></label>
        <input class="star star-3" id="q1s3" type="radio" name="star"/>
        <label class="star star-3" for="q1s3"></label>
        <input class="star star-2" id="q1s2" type="radio" name="star"/>
        <label class="star star-2" for="q1s2"></label>
        <input class="star star-1" id="q1s1" type="radio" name="star"/>
        <label class="star star-1" for="q1s1"></label>
      </form>
    </div>

    <h1><font size="5" color="purple">How satisfied are you with the cost of housing?</font></h1>

    <div class="stars">
      <form action="">
        <input class="star star-5" id="q2s5" type="radio" name="star"/>
        <label class="star star-5" for="q2s5"></label>
        <input class="star star-4" id="q2s4" type="radio" name="star"/>
        <label class="star star-4" for="q2s4"></label>
        <input class="star star-3" id="q2s3" type="radio" name="star"/>
        <label class="star star-3" for="q2s3"></label>
        <input class="star star-2" id="q2s2" type="radio" name="star"/>
        <label class="star star-2" for="q2s2"></label>
        <input class="star star-1" id="q2s1" type="radio" name="star"/>
        <label class="star star-1" for="q2s1"></label>
      </form>
    </div>

    <h1><font size="5" color="purple">How satisfied are you with the overall quality of public schools?</font></h1>

    <div class="stars">
      <form action="">
        <input class="star star-5" id="q3s5" type="radio" name="star"/>
        <label class="star star-5" for="q3s5"></label>
        <input class="star star-4" id="q3s4" type="radio" name="star"/>
        <label class="star star-4" for="q3s4"></label>
        <input class="star star-3" id="q3s3" type="radio" name="star"/>
        <label class="star star-3" for="q3s3"></label>
        <input class="star star-2" id="q3s2" type="radio" name="star"/>
        <label class="star star-2" for="q3s2"></label>
        <input class="star star-1" id="q3s1" type="radio" name="star"/>
        <label class="star star-1" for="q3s1"></label>
      </form>
    </div>

    <h1><font size="5" color="purple">How much do you trust in the local police?</font></h1>

    <div class="stars">
      <form action="">
        <input class="star star-5" id="q4s5" type="radio" name="star"/>
        <label class="star star-5" for="q4s5"></label>
        <input class="star star-4" id="q4s4" type="radio" name="star"/>
        <label class="star star-4" for="q4s4"></label>
        <input class="star star-3" id="q4s3" type="radio" name="star"/>
        <label class="star star-3" for="q4s3"></label>
        <input class="star star-2" id="q4s2" type="radio" name="star"/>
        <label class="star star-2" for="q4s2"></label>
        <input class="star star-1" id="q4s1" type="radio" name="star"/>
        <label class="star star-1" for="q4s1"></label>
      </form>
    </div>

    <h1><font size="5" color="purple">How much are you satisfied in the maintenance of streets and sidewalks?</font></h1>

    <div class="stars">
      <form action="">
        <input class="star star-5" id="q5s5" type="radio" name="star"/>
        <label class="star star-5" for="q5s5"></label>
        <input class="star star-4" id="q5s4" type="radio" name="star"/>
        <label class="star star-4" for="q5s4"></label>
        <input class="star star-3" id="q5s3" type="radio" name="star"/>
        <label class="star star-3" for="q5s3"></label>
        <input class="star star-2" id="q5s2" type="radio" name="star"/>
        <label class="star star-2" for="q5s2"></label>
        <input class="star star-1" id="q5s1" type="radio" name="star"/>
        <label class="star star-1" for="q5s1"></label>
      </form>
    </div>

    <h1><font size="5" color="purple">How much are you satisfied in the availability of social community events?</font></h1>

    <div class="stars">
      <form action="">
        <input class="star star-5" id="q6s5" type="radio" name="star"/>
        <label class="star star-5" for="q6s5"></label>
        <input class="star star-4" id="q6s4" type="radio" name="star"/>
        <label class="star star-4" for="q6s4"></label>
        <input class="star star-3" id="q6s3" type="radio" name="star"/>
        <label class="star star-3" for="q6s3"></label>
        <input class="star star-2" id="q6s2" type="radio" name="star"/>
        <label class="star star-2" for="q6s2"></label>
        <input class="star star-1" id="q6s1" type="radio" name="star"/>
        <label class="star star-1" for="q6s1"></label>
      </form>
    </div>

    <br />
    <div class="text-center">
      <!-- <button class="button" name="button" value="OK" type="button" onclick="predict_happiness()">
        Submt your ratings
      </button>   -->
      <a href="/predict" class="button">Submt your ratings</a>
    </div>

    <!-- <script src="{{ url_for('static', path='/js/script.js') }}"></script> -->

  </body>
</html>
