body {
  font-size: 18px; /* Default font size for the entire body */
}

h1 {
  font-size: 28px; /* Font size for h1 headers */
}

p {
  font-size: 16px; /* Font size for paragraphs */
}
.class-of-divs{
  min-width: 100%
}

div.stars {
  text-align:center;
  direction:rtl;
}
div.stars form {
  display:inline-block;
}
input.star {
  display: none;
}
label.star {
  display:inline-block;
  padding: 8px;
  font-size: 30px;
  color: #444;
  transition: all .2s;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.text-center {
  text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: 0.7;
}

.button:hover {
  background-color: #3e8e41;
  opacity: 1;
}

.streamlit-button {
  background-color: #3e8e41; /* Set your desired color code */
  color: white; /* Set text color */
  padding: 15px 32px; /* Adjust padding */
  border-radius: 5px; /* Optional: Add rounded corners */
}
