name: CI Python

on: [push]

env:
  PYTHON_VERSION: "3.11"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python - -y

      - name: Update PATH
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Update Poetry configuration
        run: poetry config virtualenvs.create false

      - name: Install dependencies
        run: poetry install --sync --no-interaction

      - name: Run pre-commit
        run: poetry run pre-commit run --all-files --show-diff-on-failure

      - name: Test with pytest
        run: poetry run pytest --doctest-modules --junitxml=junit/test-results-${{ env.PYTHON_VERSION }}.xml --cov=. --cov-report=xml --cov-report=html

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results-${{ env.PYTHON_VERSION }}
          path: junit/test-results-${{ env.PYTHON_VERSION }}.xml
        if: ${{ always() }}

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: 'coverage.xml'
          badge: true
          format: 'markdown'
          output: 'both'
